* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginPageContainer {
  height: 100vh;
  position: relative;
}

.loginFormContainer {
  width: 65rem;
  height: 65rem;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.background {
  height: 100vh;
  width: 100%;
  position: relative;
}

.backgroundImage {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

/* .title {
  text-align: center;
  height: 6rem;
}

.logo {
  margin: 2rem 0;
  height: 100%;
  width: auto;
  box-shadow: -0.2rem -0.2rem 2rem 0.2rem var(--secondary-color);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  animation: shadow 2s 1s ease-in-out infinite;
} */

.title {
  /* color: var(--secondary-color); */
  background-color: #f3ec78;
  background: linear-gradient(
    90deg,
    #ff9100,
    #ff8c03,
    #ff8606,
    #ff800a,
    #ff7b0e,
    #ff7512,
    #ff6f16,
    #ff6919,
    #ff621d,
    #ff5c20,
    #ff5523,
    #ff4e26
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  text-align: center;
  line-height: 1.2cm;
  display: inline-block;
  width: 30rem;
  margin: 2rem auto;
  font-size: 30px;
  font-weight: 900;
  box-shadow: -0.2rem -0.2rem 2rem 0.2rem var(--secondary-color);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  animation: shadow 3s 1s ease-in-out infinite;
}

@keyframes shadow {
  0% {
    box-shadow: -0.3rem -0.3rem 2rem 0.2rem var(--secondary-color);
  }
  20% {
    box-shadow: -0.4rem -0.2rem 2rem 0.8rem var(--primary-color);
  }
  40% {
    box-shadow: -0.6rem -0.3rem 2rem 0.1.4rem var(--red-color);
  }
  60% {
    box-shadow: -0.4rem -0.2rem 2rem 0.8rem var(--orange-color);
  }
  100% {
    box-shadow: -0.3rem -0.3rem 2rem 0.2rem var(--secondary-color);
  }
}

.cover {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: #6d143dc0; */
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
  direction: ltr;
  color: white;
}

.TextField {
  color: white !important;
}

.backBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem !important;
  margin-left: 2rem;
}
