.allCategories {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: bold;
}

.eachGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  padding: 5rem 10rem;
  margin-bottom: 10rem;
}
.eachCard {
  border-radius: 5rem;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.3);
  margin: 2rem 0;
  border: none;
  transition: 0.8s;
  cursor: pointer;
  position: relative;
}
.eachCard:hover {
  transform: scale(1.2);
  z-index: 1000;
}
.descriptionOfEachCard {
  color: #666666;
  max-height: 90;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  font-size: 2rem;
  line-height: 1cm;
  margin-top: 2rem;
}
.priceOfEachCard {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 1rem;
  text-align: left;
}

.eachGroupTitleLink {
  font-size: 5rem;
  font-weight: 900;
  color: var(--primary-color);
  margin: 0 2rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}
.eachGroupTitle {
  text-align: right;
  margin-bottom: 1rem;
  margin-top: 5rem;

  cursor: pointer;
}

.eachCard:before,
.eachCard:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.eachCard:after {
  filter: blur(50px);
}
.paginationPart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
