.productEachContainer {
  padding: 5rem;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}

.menu {
  margin-bottom: 5rem;
}
.detailsProduct {
  display: flex;
  gap: 10rem;
}
.eachProductContainerImagePart {
  width: 630px;
}
.productName {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--text-color);
  max-width: 800px;
  margin: 2rem 0;
}
.productCategory {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 2rem 0;
}

.productPrice {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bold;
  margin: 2rem 0;
}
.eachProductContainerTextPart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 8rem; */
  padding-top: 6rem;
}
.buyBtn {
  margin-top: 8rem;
}

.tabProduct {
  margin-top: 5rem;
  padding-bottom: 10rem;
  min-height: 40rem;
}
.descriptionText {
  line-height: 1.3cm;
  font-size: 2.2rem;

  color: var(--text-color);
}
.countBuying {
  color: var(--text-color);
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1rem;
}

.similarProducts {
  margin: 3rem 0;
}

.similarProductsTitle {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 0;
  margin-bottom: 5rem;
}

.productsSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 95vw;
  padding: 5rem 0;
  margin: 0 auto;
  border-radius: 3rem;
}
.priceOfEachCard {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 1rem;
  text-align: left;
}
/* .imgOfSelfProduct {
  transition: 1s;
}
.imgOfSelfProduct:hover {
  transform: scale(3);
} */
.innerZoom {
  object-fit: fill;
  height: 100%;
}
.toastify {
  font-size: 1.8rem;
}
.path {
  margin-bottom: 4rem;
}

.skeletonMode {
  display: flex;
  justify-content: space-center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 8rem;
}
.skeletonImagePart {
  height: 630px;
  width: 630px;
}
.skeletonTextPart {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.priceOfEachCard {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 1rem;
  text-align: left;
}
