.productEachContainer {
  padding: 5rem;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}

.menu {
  margin-bottom: 5rem;
}
.detailsProduct {
  display: flex;
  gap: 10rem;
}
.eachProductContainerImagePart {
  width: 630px;
}
.productName {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--text-color);
  max-width: 800px;
  margin: 2rem 0;
}
.productCategory {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 2rem 0;
}

.productPrice {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bold;
  margin: 2rem 0;
}
.eachProductContainerTextPart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 8rem; */
  padding-top: 6rem;
}
.buyBtn {
  margin-top: 8rem;
}

.tabProduct {
  margin-top: 5rem;
  padding-bottom: 10rem;
  min-height: 40rem;
}
.descriptionText {
  line-height: 1.3cm;
  font-size: 2.2rem;

  color: var(--text-color);
}
.countBuying {
  color: var(--text-color);
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1rem;
}

.similarProducts {
  margin: 3rem 0;
}

.similarProductsTitle {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 0;
  margin-bottom: 5rem;
}

.productsSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 95vw;
  padding: 5rem 0;
  margin: 0 auto;
  border-radius: 3rem;
}
.priceOfEachCard {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 1rem;
  text-align: left;
}
/* .imgOfSelfProduct {
  transition: 1s;
}
.imgOfSelfProduct:hover {
  transform: scale(3);
} */
.innerZoom {
  object-fit: fill;
  height: 100%;
}
.toastify {
  font-size: 1.8rem;
}
.path {
  margin-bottom: 4rem;
}

.skeletonMode {
  display: flex;
  justify-content: space-center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 8rem;
}
.skeletonImagePart {
  height: 630px;
  width: 630px;
}
.skeletonTextPart {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.priceOfEachCard {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 1rem;
  text-align: left;
}
.unShowCommentPart {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.unShowCommentPartButton {
  padding: 0.5rem 3rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  /* font-weight: bold; */
  border-radius: 1.5rem;
  cursor: pointer;
}

.commentPart {
  /* background-color: var(--bg-color); */
}
.commentForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 60rem;
  margin: 2rem 0;
}

.titleCommentInput {
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  border: 3px dashed var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem;
  text-indent: 1rem;
  color: var(--text-color);
}
.titleCommentInput:focus,
.explainComment:focus {
  outline: none;
}

.explainComment {
  width: 100%;
  padding: 1.8rem;
  border-radius: 1rem;
  border: 3px dashed var(--primary-color);
  font-size: 1.8rem;
  height: 30rem;
  color: var(--text-color);
}
.commentSubmitBtn {
  cursor: pointer;
  padding: 1rem 3rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 1.5rem;
  border: none;
  font-size: 2rem;
  transition: 1s;
}
.commentSubmitBtn:hover {
  background-color: var(--lightPrimary-color);
}
.starPart {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.bottomCommentPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.starTitle {
  font-size: 2rem;
  color: var(--text-color);
}
.commentUl {
  list-style: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 80%;
}
.commentLi {
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 3rem 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.headerComment {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.commentUserIcon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.commentDate,
.commentUserName {
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.commentTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 1rem;
}
.commentExplain {
  font-size: 1.8rem;
  margin-right: 2rem;
}
.commentStar {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.userCommentsTitle {
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  width: 100%;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.alreadyComment {
  padding: 3rem 0;
  font-weight: bold;
  color: var(--text-color);
  font-size: 2rem;
}
.noComment {
  margin-top: 10rem;
}
