* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 3.5rem 5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);
}
.logo {
  width: 20rem;
  cursor: pointer;
}

.headerTop {
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: 1s;
}

.serachBar {
  background-color: #f0f0f1;
  padding: 2rem;
  border-radius: 1.5rem;
  width: 50rem;
  position: relative;
}

/* .serachBar:focus {
  background-color: white;
  box-shadow: 0 0 0.5rem 0.5rem #f0f0f1;
} */

.serachBarInput::placeholder {
  font-size: 2rem;
}

.serachBarInput {
  height: 3rem;
  width: 100%;
  border: none;
  background-color: transparent;
  text-indent: 5rem;
  font-size: 2rem;
}

.serachBarInput:focus {
  outline: none;
}
.serachBarIcon {
  font-size: 3.5rem;
  color: #a1a3a8;
  position: absolute;
  right: 0.3rem;
  top: 62%;
  font-weight: 900;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.navBar {
  margin-right: auto;
  height: 100%;
}

.navList {
  list-style: none;
  display: flex;
  gap: 8rem;
  height: 100%;
  align-items: center;
}
.navItem {
  height: 100%;
}
.navLink {
  text-decoration: none;
  color: var(--text-color);
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  height: 100%;

  display: flex;
  justify-self: center;
  align-items: center;
  transition: 1s;
}
.navIcon {
  text-decoration: none;
  color: var(--text-color);
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  height: 100%;

  transition: 1s;
}
.navLink:hover {
  opacity: 0.8;
}

.cartLink {
  font-size: 4.4rem;
  position: relative;
  margin-bottom: 1.5rem;
}

/* .cartLink::after {
  content: "15";
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  font-size: 2rem;
  font-weight: bold;

  min-height: 3.3rem;
  min-width: 3.3rem;
  border-radius: 50%;
} */

.headerBottom {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.slider {
}

.advertisements {
  display: flex;
  flex-direction: column;
}
.adv1Image,
.adv2Image {
  height: 20rem;
  min-width: 40rem;
  border-radius: 2rem;
  cursor: pinter;
  margin: 0.5rem 0;
}

.navBar2 {
  display: block;
}

.menu {
  display: none;
  font-size: 4rem;
  cursor: pointer;
  transition: 1s;
}

@media (max-width: 1050px) {
  .header {
    padding: 2rem;
  }
  .virtualHeader {
    height: 94px !important;
  }
  .logo {
    max-width: 15rem;
  }

  .serachBar {
    width: 100%;
  }
  .serachBarInput {
    font-size: 1.5rem;
  }
  .serachBarIcon {
    font-size: 4rem;
  }
  .navBar {
    display: none;
  }
  .navBar2 {
    width: 100%;
    transition: 0.5s;
  }
  .navList {
    gap: 2rem;
    flex-direction: column;
  }
  .navItem {
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
  }

  .cartLink::after {
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
  .headerTop {
    display: flex;
    flex-direction: column;
    display: none;
    gap: 2rem;
  }
  .navLink {
    font-size: 3rem;
    color: white;
    width: 100%;
    text-align: center !important;
    display: inline-block;
  }
  .menu {
    display: block;
    margin-left: auto;
  }
}

@media (min-width: 1051px) {
  .navBar2 {
    display: none;
  }
  .headerTop {
    display: flex !important;
    flex-direction: row;
  }
  .navList,
  .navItem {
    flex-direction: row;
  }
}
.virtualHeader {
  height: 153px;
  background-color: var(--bg-color);
}
