* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
  user-select: none;
}

:root {
  --text-color: #424750;
  --primary-color: #eb3b5a;
  --secondary-color: #ff9100;
  --button-color: #0652dd;
  --white-color: #fff;
  --red-color: #ea2027;
  --gray-color: #dfe4ea;
  --orange-color: #d35400;
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Medium.ttf");
}
@font-face {
  font-family: vazir;
  src: url("../fonts/Farsi-Digits/Vazir-Medium-FD-UI.ttf");
}
html {
  font-size: 62.5%;
}
