* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
  user-select: none;
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Medium.ttf");
}
@font-face {
  font-family: vazir;
  src: url("../fonts/Farsi-Digits/Vazir-Medium-FD-UI.ttf");
}
html {
  font-size: 62.5%;
}
